process {
    executor = 'local'
    errorStrategy = 'terminate'
    maxRetries = 1

    withName: CHECK_APIS {
        cpus = 1
        memory = '512 MB'
    }
    withName: RUN_RNASEQ {
        cpus = 1
        memory = '1 GB'
    }
    withName: RUN_NETWORK {
        cpus = 1
        memory = '1 GB'
    }
    withName: RUN_LLM_TRIAGE {
        cpus = 1
        memory = '1 GB'
    }
    withName: ASSEMBLE_BUNDLE {
        cpus = 1
        memory = '1 GB'
    }
}

timeline {
    enabled = true
    file = "${params.outdir ?: 'results'}/nextflow_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir ?: 'results'}/nextflow_report.html"
}
trace {
    enabled = true
    file = "${params.outdir ?: 'results'}/nextflow_trace.tsv"
}
dag {
    enabled = true
    file = "${params.outdir ?: 'results'}/nextflow_dag.html"
}
